# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js and build artifacts
node_modules
dist
dist-ssr

# Visual Studio Code specific files
.vscode/*
!.vscode/extensions.json

# IntelliJ IDEA specific files
.idea

# macOS specific files
.DS_Store

# Visual Studio specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# User-specific files
*.local

# Environment variables file
.env
